<div class='d-flex bg-light mb-4'>
  <%= image_tag(product.photo, class: 'h-100-px') %>

  <div class='p-2'>
    <div class='font-weight-bold'><%= product.name %></div>
    <div><%= product.price %></div>
  </div>
</div>
