$theme-colors: (
  "primary": rgb(247, 135, 0),
  "light": #f9f9f9,
  "dark": rgb(41, 41, 41),
  "stock": #2EA747,
  "descriptions": #6C757D
);

$btn-primary-color: white;

.bg-black {
  background: black;
}
