/* TODO: Add SCSS here for products index page */

.mce-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	background: map-get($theme-colors, "dark");
	img {
		height: 70px;
	}
}

.catalog-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	background: map-get($theme-colors, "light");
	h1 {
		font-size: $display2-size;
	}
}

.product {
	background: map-get($theme-colors, "light")
}

div.product-btn {
	a {
		color: $btn-primary-color;
	}
}
